.main-container {
  max-width: 980px;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}

.main-container ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-top: 50px;
}

.main-container ul li {
  display: flex;
  flex-direction: column;
}

.main-container ul li footer {
  flex: 1;
  background: #FFF;
  border: 1px splod #eee;
  padding: 15px 20px;
  text-align: left;
  border-radius: 0 0 5px;
}

.main-container ul li footer strong {
  font-size: 16px;
  color: #333;
}

.main-container ul li footer p {
  font-size: 14px;
  color: #999;
  line-height: 20px;
  margin-top: 5px;
}

.main-container ul li button {
  height: 50px;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  border: 0;
  border-radius: 4px;
  background: #FFF;
  cursor: pointer;
  margin-top: 5px;
}

.main-container ul li button:hover {
  transform: translateY( -3px );
  transition: all 0.2s;
}

.main-container .empty {
  font-size: 32px;
  color: #999;
  font-weight: bold;
  margin-top: 250px;
}

.main-container button {
  margin-top: 10px;
  border: 0;
  border-radius: 4px;
  height: 48px;
  width: 100px;
  font-size: 16px;
  background: #46fff6;
  font-weight: bold;
  color: #FFF;
  cursor: pointer;
}